<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) ../styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) ../styles/main.css -->
    <!-- CSS -->

    <link rel="stylesheet" href="styles/font_face.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/custom.css">
    <!-- endbuild -->
    <link rel="icon" type="image/ico" href="images/favicon.jpeg">
</head>

<body>
    <div class="alertMessages"></div>
    <div class="scroll-top"><a href="#page-wrapper">Scroll Top <img src="images/chevron-up.svg" width="10" /></a></div>
    <div id="page-wrapper" class="container-fluid no-padding-cols"> 
        <div class="row row-content margin-auto" id="partner">
            <div class="col-md-8 no-padding-cols signup-left">
                <div class="signup-left-bg">
                    <div class="section-1-text-content">
                        <span class="benefits">It takes just a few minutes to provide us with your information</span>
                        <div class="u"></div>
                        <div>
                            <h3>
                            <img src="images/send.svg" width="36" alt="" height="60" /><span>Why Sign up?</span> 
                        </h3>
                            <div class="why_signup_list_items">
                                <span class="orange-checkmark">Best Commission Rates</span>
                                <span class="orange-checkmark">On-Time Payments </span>
                                <span class="orange-checkmark">Direct Access to 50+ Banks </span>
                                <span class="orange-checkmark">Record TAT </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hform signup-right outer-div" id="form">
               <div class="signuptemp text-center">
                        <div class="row">
                            <div class="col-md-12">
                                <span class="why-signup-border hidden-xs"></span>
                                    <h2 class="signup number text-center" style="margin-bottom: 20px;">Check your inbox</h2>
                                    <label style="color:#808080;font-family: 'Raleway Bold';">Click the link we just sent to your email ID to reset your password</label><br/><br/>
                                 <h5>Email Address:</h5>
                                    <label style="color:#808080;font-family: 'Raleway Bold';">user@gmail.com</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div style="position: relative;margin:50px auto;">
                                    <img src="images/Reset Link Sent Icon.svg" width="150" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group spadd">
                            <a href="#" ng-click="(signup.otp = 0);(root.changepassword=false)">Return to Sign In</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="cookie-alert hidden">
            <div class="content">
                <p>
                    By continuing to browse our site you agree to our use of cookies, revised <a href="/privacy-policy" target="_blank">Privacy Policy</a> and <a href="/terms-of-use" target="_blank">Terms of Service</a>.
                </p>
            </div>
            <div class="action">
                <button>OK, Got it!</button>
            </div>
        </div>
    </div>
    <div id="depreload">
        <div class="table-cell wrapper">
            <div class="circle">
                <canvas class="line" width="202px" height="202px"></canvas>
                <img id="img_1" src="images/Fincity Fav Icon.png" width="25" class="logo" alt="logo" />
            </div>
            <p class="perc"></p>
            <p class="loading"></p>
        </div>
    </div>
    <footer>
        <div class="footer1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="row">
                            <div class="col-md-9 col-lg-9 col-xl-9 text-center no-padding-cols">
                                <span><img src="images/Money-Bag.png" class="footer--icon-images"></span><span data-ng-bind="lang.application_lenders" class="footer--iconname-textalign">1 Application -> 50+Lenders</span>
                                <span><img src="images/Instant-Approval.png" class="footer--icon-images"></span><span data-ng-bind="lang.instant_approvals" class="footer--iconname-textalign">Instant E-Approvals</span>
                                <span><img src="images/500Cr.png" class="footer--icon-images"></span><span data-ng-bind="lang.trust_customer" class="footer--iconname-textalign">Trusted by 1,00,000+ Customers</span>
                                <span><img src="images/Trusted-By.png" class="footer--icon-images-last"></span><span data-ng-bind="lang.disbursed" class="footer--iconname-textalign">500+Cr Disbursed</span>
                            </div>
                            <div class="col-md-3 col-lg-3 col-xl-3 text-center no-padding-cols">
                                <span><img src="images/Secure.png" alt="image-1" class="footer-last-img footer--right-side-images" style="height: 36px;"></span>
                                <span><img src="images/cibil-logo-lt.svg " alt="image-1" class="footer-last-img footer--right-side-images" style="height: 26px;"></span>
                                <span><img src="images/Experian_logo.svg" alt="image-1" class="footer-last-img footer--right-side-images-last" style="height: 40px;"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="js/script.js"></script>
    <script src="js/jquery.validate.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        ! function(A, n, g, u, l, a, r) {
            A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
        }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-118052578-1');
        ga('send', 'pageview');
    </script>
</body>

</html>