@font-face {
  font-family: 'icomoon';
  src:  url('fonts2/icomoon.eot?pae633');
  src:  url('fonts2/icomoon.eot?pae633#iefix') format('embedded-opentype'),
    url('fonts2/icomoon.ttf?pae633') format('truetype'),
    url('fonts2/icomoon.woff?pae633') format('woff'),
    url('fonts2/icomoon.svg?pae633#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-REDL-Icon-Color .path1:before {
  content: "\e902";
  color: rgb(164, 234, 255);
}
.icon-REDL-Icon-Color .path2:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-REDL-Icon-Color .path3:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path4:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path5:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path6:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path7:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path8:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path9:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path10:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path11:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path12:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path13:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path14:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-REDL-Icon-Color .path15:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path16:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-REDL-Icon-Color .path17:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path18:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-REDL-Icon-Color .path19:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path20:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-REDL-Icon-Color .path21:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path22:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-REDL-Icon-Color .path23:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-REDL-Icon-Color .path24:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-REDL-Icon-Color .path25:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-REDL-Icon-Color .path26:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(240, 250, 250);
}
.icon-REDL-Icon-Color .path27:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-REDL-Icon-Color .path28:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-Reset-Link-Sent-Icon .path1:before {
  content: "\e91e";
  color: rgb(0, 119, 181);
}
.icon-Reset-Link-Sent-Icon .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(0, 119, 181);
}
.icon-Reset-Link-Sent-Icon .path3:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(0, 119, 181);
}
.icon-Reset-Link-Sent-Icon .path4:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(0, 119, 181);
}
.icon-Reset-Link-Sent-Icon .path5:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(0, 119, 181);
}
.icon-Reset-Link-Sent-Icon .path6:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(58, 58, 58);
  opacity: 0.15;
}
.icon-Reset-Link-Sent-Icon .path7:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path8:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(0, 119, 181);
}
.icon-Reset-Link-Sent-Icon .path9:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path10:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path11:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 119, 181);
}
.icon-Reset-Link-Sent-Icon .path12:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path13:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path14:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path15:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path16:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path17:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path18:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path19:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path20:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path21:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path22:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(25, 25, 25);
}
.icon-Reset-Link-Sent-Icon .path23:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Reset-Link-Sent-Icon .path24:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(0, 119, 181);
  opacity: 0.65;
}
.icon-Reset-Link-Sent-Icon .path25:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Reset-Link-Sent-Icon .path26:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Reset-Link-Sent-Icon .path27:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Reset-Link-Sent-Icon .path28:before {
  content: "\e939";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Reset-Link-Sent-Icon .path29:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Reset-Link-Sent-Icon .path30:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Reset-Link-Sent-Icon .path31:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(0, 119, 181);
  opacity: 0.65;
}
.icon-Reset-Link-Sent-Icon .path32:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 119, 181);
  opacity: 0.65;
}
.icon-search:before {
  content: "\e93e";
  color: #d3d3d3;
}
.icon-send:before {
  content: "\e93f";
  color: #006df0;
}
.icon-Show-Password:before {
  content: "\e940";
  color: #0077b5;
}
.icon-Track-Application_Black:before {
  content: "\e941";
}
.icon-Track-Application_Blue:before {
  content: "\e942";
  color: #0077b5;
}
.icon-Warning:before {
  content: "\e943";
  color: #fff;
}
.icon-Youtube1:before {
  content: "\e944";
  color: #444;
}
.icon-Twitter1:before {
  content: "\e945";
  color: #444;
}
.icon-Linkedin11:before {
  content: "\e946";
  color: #444;
}
.icon-REDL-Blue:before {
  content: "\e947";
  color: #0077b5;
}
.icon-REDL-Black:before {
  content: "\e948";
}
.icon-REDL:before {
  content: "\e949";
  color: #626262;
}
.icon-placeholder:before {
  content: "\e94a";
  color: #1081e0;
}
.icon-Oops:before {
  content: "\e94b";
  color: #fff;
}
.icon-next_white:before {
  content: "\e94c";
  color: #fff;
}
.icon-next_black:before {
  content: "\e94d";
}
.icon-next:before {
  content: "\e94e";
  color: #0077b5;
}
.icon-minus:before {
  content: "\e94f";
}
.icon-Lock_White:before {
  content: "\e950";
  color: #fff;
}
.icon-locked-1:before {
  content: "\e951";
}
.icon-locked:before {
  content: "\e952";
}
.icon-Location-Pin .path1:before {
  content: "\e953";
  color: rgb(0, 119, 181);
}
.icon-Location-Pin .path2:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(0, 119, 181);
}
.icon-Location-Pin .path3:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Location-Pin .path4:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(0, 119, 181);
}
.icon-location-pin:before {
  content: "\e957";
}
.icon-location-marker:before {
  content: "\e958";
}
.icon-location1:before {
  content: "\e959";
  color: #fff;
}
.icon-location:before {
  content: "\e95a";
}
.icon-Linkedin1:before {
  content: "\e95b";
  color: #444;
}
.icon-LAP-Icon-Color .path1:before {
  content: "\e95c";
  color: rgb(164, 234, 255);
}
.icon-LAP-Icon-Color .path2:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-LAP-Icon-Color .path3:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-LAP-Icon-Color .path4:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-LAP-Icon-Color .path5:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-LAP-Icon-Color .path6:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-LAP-Icon-Color .path7:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-LAP-Icon-Color .path8:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-LAP-Icon-Color .path9:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(240, 250, 250);
}
.icon-LAP-Icon-Color .path10:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-LAP-Icon-Color .path11:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(220, 244, 245);
}
.icon-LAP-Icon-Color .path12:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(220, 244, 245);
}
.icon-LAP-Icon-Color .path13:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-LAP-Icon-Color .path14:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-LAP-Icon-Color .path15:before {
  content: "\e96a";
  margin-left: -1em;
  color: rgb(240, 250, 250);
}
.icon-LAP-Icon-Color .path16:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-LAP-Icon:before {
  content: "\e96c";
}
.icon-LAP-Blue:before {
  content: "\e96d";
  color: #0077b5;
}
.icon-LAP-Black:before {
  content: "\e96e";
}
.icon-LAP:before {
  content: "\e96f";
  color: #626262;
}
.icon-Informal-Sector:before {
  content: "\e970";
  color: #626262;
}
.icon-Home-Loans:before {
  content: "\e971";
  color: #626262;
}
.icon-Home-Loan-Icon-Color .path1:before {
  content: "\e972";
  color: rgb(164, 234, 255);
}
.icon-Home-Loan-Icon-Color .path2:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Home-Loan-Icon-Color .path3:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path4:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(150, 213, 216);
}
.icon-Home-Loan-Icon-Color .path5:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path6:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path7:before {
  content: "\e978";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path8:before {
  content: "\e979";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path9:before {
  content: "\e97a";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path10:before {
  content: "\e97b";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path11:before {
  content: "\e97c";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path12:before {
  content: "\e97d";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path13:before {
  content: "\e97e";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-Home-Loan-Icon-Color .path14:before {
  content: "\e97f";
  margin-left: -1em;
  color: rgb(115, 203, 242);
}
.icon-Home-Loan-Icon-Color .path15:before {
  content: "\e980";
  margin-left: -1em;
  color: rgb(240, 250, 250);
}
.icon-Home-Loan-Icon-Color .path16:before {
  content: "\e981";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-Home-Loan-Icon-Color .path17:before {
  content: "\e982";
  margin-left: -1em;
  color: rgb(35, 35, 35);
}
.icon-Home-Loan-Icon:before {
  content: "\e983";
}
.icon-Home-Loan-Blue:before {
  content: "\e984";
  color: #0077b5;
}
.icon-Home-Loan-Black:before {
  content: "\e985";
}
.icon-Home-loan:before {
  content: "\e986";
}
.icon-Home-Blue:before {
  content: "\e987";
  color: #0077b5;
}
.icon-Hide-Password:before {
  content: "\e988";
  color: #828282;
}
.icon-Facebook1:before {
  content: "\e989";
  color: #444;
}
.icon-edit:before {
  content: "\e98a";
}
.icon-Down_Arrow_Blue:before {
  content: "\e98b";
  color: #0077b5;
}
.icon-Down_Arrow_Black:before {
  content: "\e98c";
}
.icon-down-arrow:before {
  content: "\e98d";
  color: #0077b5;
}
.icon-Done:before {
  content: "\e98e";
  color: #fff;
}
.icon-delete:before {
  content: "\e98f";
}
.icon-cross-out1:before {
  content: "\e990";
  color: #fff;
}
.icon-cross-out:before {
  content: "\e991";
}
.icon-cross-delete:before {
  content: "\e992";
}
.icon-Credit-Restoration:before {
  content: "\e993";
  color: #626262;
}
.icon-cibil-logo-lt:before {
  content: "\e994";
  color: #fff;
}
.icon-chevron-up:before {
  content: "\e995";
  color: #d3d3d3;
}
.icon-Check-Orange:before {
  content: "\e996";
  color: #ff8100;
}
.icon-Check-mark:before {
  content: "\e997";
  color: #fff;
}
.icon-Check-Hollow:before {
  content: "\e998";
  color: #ccc;
}
.icon-Branch-Office_white:before {
  content: "\e999";
  color: #fff;
}
.icon-Branch-Office:before {
  content: "\e99a";
}
.icon-Blue-Check .path1:before {
  content: "\e99b";
  color: rgb(0, 119, 181);
}
.icon-Blue-Check .path2:before {
  content: "\e99c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-bell-1:before {
  content: "\e99d";
  color: #fff;
}
.icon-bell:before {
  content: "\e99e";
}
.icon-back_white:before {
  content: "\e99f";
  color: #fff;
}
.icon-back_black:before {
  content: "\e9a0";
}
.icon-back:before {
  content: "\e9a1";
  color: #0077b5;
}
.icon-arrow_up_gray:before {
  content: "\e9a2";
  color: #d3d3d3;
}
.icon-102 .path1:before {
  content: "\e9a3";
  color: rgb(0, 0, 0);
}
.icon-102 .path2:before {
  content: "\e9a4";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-102 .path3:before {
  content: "\e9a5";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-102 .path4:before {
  content: "\e9a6";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-102 .path5:before {
  content: "\e9a9";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-102 .path6:before {
  content: "\e9aa";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-101 .path1:before {
  content: "\e9ab";
  color: rgb(0, 0, 0);
}
.icon-101 .path2:before {
  content: "\e9ac";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-101 .path3:before {
  content: "\e9ad";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-101 .path4:before {
  content: "\e9ae";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-101 .path5:before {
  content: "\e9af";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-101 .path6:before {
  content: "\e9b0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-88:before {
  content: "\e9b1";
  color: #fff;
}
.icon-87:before {
  content: "\e9b2";
  color: #fff;
}
.icon-86:before {
  content: "\e9b3";
}
.icon-83:before {
  content: "\e9b4";
}
.icon-82 .path1:before {
  content: "\e9b5";
  color: rgb(255, 255, 255);
}
.icon-82 .path2:before {
  content: "\e9b6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-82 .path3:before {
  content: "\e9b7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-82 .path4:before {
  content: "\e9b8";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-82 .path5:before {
  content: "\e9b9";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-82 .path6:before {
  content: "\e9ba";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-82 .path7:before {
  content: "\e9bb";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-81:before {
  content: "\e9bc";
  color: #fff;
}
.icon-80 .path1:before {
  content: "\e9bd";
  color: rgb(33, 175, 176);
}
.icon-80 .path2:before {
  content: "\e9be";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-80 .path3:before {
  content: "\e9bf";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-79 .path1:before {
  content: "\e9c0";
  color: rgb(33, 175, 176);
}
.icon-79 .path2:before {
  content: "\e9c1";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-79 .path3:before {
  content: "\e9c2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-79 .path4:before {
  content: "\e9c3";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-78 .path1:before {
  content: "\e9c4";
  color: rgb(33, 175, 176);
}
.icon-78 .path2:before {
  content: "\e9c5";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-78 .path3:before {
  content: "\e9c6";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-78 .path4:before {
  content: "\e9c7";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-78 .path5:before {
  content: "\e9c8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-76:before {
  content: "\e9c9";
  color: #21afb0;
}
.icon-75 .path1:before {
  content: "\e9ca";
  color: rgb(0, 0, 0);
}
.icon-75 .path2:before {
  content: "\e9cb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-75 .path3:before {
  content: "\e9cc";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-75 .path4:before {
  content: "\e9cd";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-75 .path5:before {
  content: "\e9ce";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-75 .path6:before {
  content: "\e9cf";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-75 .path7:before {
  content: "\e9d0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-75 .path8:before {
  content: "\e9d1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-75 .path9:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-75 .path10:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-75 .path11:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-75 .path12:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-75 .path13:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path1:before {
  content: "\e9d7";
  color: rgb(33, 175, 176);
}
.icon-74 .path2:before {
  content: "\e9d8";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path3:before {
  content: "\e9d9";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path4:before {
  content: "\e9da";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path5:before {
  content: "\e9db";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path6:before {
  content: "\e9dc";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path7:before {
  content: "\e9dd";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path8:before {
  content: "\e9de";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path9:before {
  content: "\e9df";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-74 .path10:before {
  content: "\e9e0";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path11:before {
  content: "\e9e1";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path12:before {
  content: "\e9e2";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-74 .path13:before {
  content: "\e9e3";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-73 .path1:before {
  content: "\e9e4";
  color: rgb(0, 0, 0);
}
.icon-73 .path2:before {
  content: "\e9e5";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path3:before {
  content: "\e9e6";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-73 .path4:before {
  content: "\e9e7";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-73 .path5:before {
  content: "\e9e8";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path6:before {
  content: "\e9e9";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path7:before {
  content: "\e9ea";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path8:before {
  content: "\e9eb";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path9:before {
  content: "\e9ec";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path10:before {
  content: "\e9ed";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path11:before {
  content: "\e9ee";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path12:before {
  content: "\e9ef";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path13:before {
  content: "\e9f0";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-73 .path14:before {
  content: "\e9f1";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-72 .path1:before {
  content: "\e9f2";
  color: rgb(33, 175, 176);
}
.icon-72 .path2:before {
  content: "\e9f3";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path3:before {
  content: "\e9f4";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path4:before {
  content: "\e9f5";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path5:before {
  content: "\e9f6";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-72 .path6:before {
  content: "\e9f7";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-72 .path7:before {
  content: "\e9f8";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path8:before {
  content: "\e9f9";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path9:before {
  content: "\e9fa";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path10:before {
  content: "\e9fb";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path11:before {
  content: "\e9fc";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path12:before {
  content: "\e9fd";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path13:before {
  content: "\e9fe";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-72 .path14:before {
  content: "\e9ff";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-71 .path1:before {
  content: "\ea00";
  color: rgb(0, 0, 0);
}
.icon-71 .path2:before {
  content: "\ea01";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-71 .path3:before {
  content: "\ea02";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-71 .path4:before {
  content: "\ea03";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-71 .path5:before {
  content: "\ea04";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-71 .path6:before {
  content: "\ea05";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-71 .path7:before {
  content: "\ea06";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-71 .path8:before {
  content: "\ea07";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-71 .path9:before {
  content: "\ea08";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-71 .path10:before {
  content: "\ea09";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-71 .path11:before {
  content: "\ea0a";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-71 .path12:before {
  content: "\ea0b";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-71 .path13:before {
  content: "\ea0c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-71 .path14:before {
  content: "\ea0d";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-71 .path15:before {
  content: "\ea0e";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-71 .path16:before {
  content: "\ea0f";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-71 .path17:before {
  content: "\ea10";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-70 .path1:before {
  content: "\ea11";
  color: rgb(255, 255, 255);
}
.icon-70 .path2:before {
  content: "\ea12";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-70 .path3:before {
  content: "\ea13";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-70 .path4:before {
  content: "\ea14";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-70 .path5:before {
  content: "\ea15";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-70 .path6:before {
  content: "\ea16";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-70 .path7:before {
  content: "\ea17";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-70 .path8:before {
  content: "\ea18";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-70 .path9:before {
  content: "\ea19";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-70 .path10:before {
  content: "\ea1a";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-70 .path11:before {
  content: "\ea1b";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-70 .path12:before {
  content: "\ea1c";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-70 .path13:before {
  content: "\ea1d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-70 .path14:before {
  content: "\ea1e";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-70 .path15:before {
  content: "\ea1f";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-70 .path16:before {
  content: "\ea20";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-70 .path17:before {
  content: "\ea21";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-69:before {
  content: "\ea22";
}
.icon-68:before {
  content: "\ea23";
}
.icon-67:before {
  content: "\ea24";
}
.icon-65:before {
  content: "\ea25";
}
.icon-64:before {
  content: "\ea26";
}
.icon-63:before {
  content: "\ea27";
}
.icon-62:before {
  content: "\ea28";
}
.icon-61:before {
  content: "\ea29";
}
.icon-60:before {
  content: "\ea2a";
}
.icon-59:before {
  content: "\ea2b";
}
.icon-58:before {
  content: "\ea2c";
}
.icon-57 .path1:before {
  content: "\ea2d";
  color: none;
}
.icon-57 .path2:before {
  content: "\ea2e";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-57 .path3:before {
  content: "\ea2f";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-57 .path4:before {
  content: "\ea30";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-57 .path5:before {
  content: "\ea31";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-57 .path6:before {
  content: "\ea32";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-57 .path7:before {
  content: "\ea33";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-57 .path8:before {
  content: "\ea34";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-57 .path9:before {
  content: "\ea35";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-57 .path10:before {
  content: "\ea36";
  margin-left: -1em;
  color: rgb(117, 80, 194);
}
.icon-57 .path11:before {
  content: "\ea37";
  margin-left: -1em;
  color: rgb(51, 51, 51);
}
.icon-56:before {
  content: "\ea38";
}
.icon-55:before {
  content: "\ea39";
}
.icon-54 .path1:before {
  content: "\ea3a";
  color: rgb(255, 255, 255);
}
.icon-54 .path2:before {
  content: "\ea3b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-54 .path3:before {
  content: "\ea3c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-54 .path4:before {
  content: "\ea3d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-54 .path5:before {
  content: "\ea3e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-54 .path6:before {
  content: "\ea3f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-54 .path7:before {
  content: "\ea40";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-54 .path8:before {
  content: "\ea41";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-54 .path9:before {
  content: "\ea42";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-54 .path10:before {
  content: "\ea43";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-54 .path11:before {
  content: "\ea44";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-54 .path12:before {
  content: "\ea45";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-54 .path13:before {
  content: "\ea46";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-54 .path14:before {
  content: "\ea47";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-54 .path15:before {
  content: "\ea48";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-53:before {
  content: "\ea49";
}
.icon-52 .path1:before {
  content: "\ea4a";
  color: rgb(0, 0, 0);
}
.icon-52 .path2:before {
  content: "\ea4b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path3:before {
  content: "\ea4c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path4:before {
  content: "\ea4d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path5:before {
  content: "\ea4e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path6:before {
  content: "\ea4f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path7:before {
  content: "\ea50";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path8:before {
  content: "\ea51";
  margin-left: -1em;
  color: rgb(113, 195, 146);
}
.icon-52 .path9:before {
  content: "\ea52";
  margin-left: -1em;
  color: rgb(113, 195, 146);
}
.icon-52 .path10:before {
  content: "\ea53";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path11:before {
  content: "\ea54";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path12:before {
  content: "\ea55";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path13:before {
  content: "\ea56";
  margin-left: -1em;
  color: rgb(113, 195, 146);
}
.icon-52 .path14:before {
  content: "\ea57";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-52 .path15:before {
  content: "\ea58";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-51 .path1:before {
  content: "\ea59";
  color: rgb(255, 255, 255);
}
.icon-51 .path2:before {
  content: "\ea5a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-51 .path3:before {
  content: "\ea5b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-51 .path4:before {
  content: "\ea5c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-51 .path5:before {
  content: "\ea5d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-51 .path6:before {
  content: "\ea5e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-51 .path7:before {
  content: "\ea5f";
  margin-left: -1em;
  color: rgb(243, 178, 64);
}
.icon-50:before {
  content: "\ea60";
  color: #fff;
}
.icon-49 .path1:before {
  content: "\ea61";
  color: rgb(0, 0, 0);
}
.icon-49 .path2:before {
  content: "\ea62";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-49 .path3:before {
  content: "\ea63";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-49 .path4:before {
  content: "\ea64";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-49 .path5:before {
  content: "\ea65";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-49 .path6:before {
  content: "\ea66";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-49 .path7:before {
  content: "\ea67";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-48:before {
  content: "\ea68";
  color: #fff;
}
.icon-47 .path1:before {
  content: "\ea69";
  color: rgb(0, 0, 0);
}
.icon-47 .path2:before {
  content: "\ea6a";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-47 .path3:before {
  content: "\ea6b";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-47 .path4:before {
  content: "\ea6c";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-47 .path5:before {
  content: "\ea6d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-47 .path6:before {
  content: "\ea6e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-47 .path7:before {
  content: "\ea6f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-47 .path8:before {
  content: "\ea70";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-47 .path9:before {
  content: "\ea71";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-47 .path10:before {
  content: "\ea72";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-47 .path11:before {
  content: "\ea73";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-47 .path12:before {
  content: "\ea74";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-47 .path13:before {
  content: "\ea75";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-47 .path14:before {
  content: "\ea76";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-46:before {
  content: "\ea77";
}
.icon-45:before {
  content: "\ea78";
  color: #fff;
}
.icon-44:before {
  content: "\ea79";
  color: #fff;
}
.icon-43:before {
  content: "\ea7a";
}
.icon-42 .path1:before {
  content: "\ea7b";
  color: rgb(33, 175, 176);
}
.icon-42 .path2:before {
  content: "\ea7c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-42 .path3:before {
  content: "\ea7d";
  margin-left: -1em;
  color: rgb(19, 132, 133);
}
.icon-42 .path4:before {
  content: "\ea7e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-42 .path5:before {
  content: "\ea7f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-42 .path6:before {
  content: "\ea80";
  margin-left: -1em;
  color: rgb(19, 132, 133);
}
.icon-42 .path7:before {
  content: "\ea81";
  margin-left: -1em;
  color: rgb(19, 132, 133);
}
.icon-42 .path8:before {
  content: "\ea82";
  margin-left: -1em;
  color: rgb(19, 132, 133);
}
.icon-41 .path1:before {
  content: "\ea83";
  color: rgb(33, 175, 176);
}
.icon-41 .path2:before {
  content: "\ea84";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-41 .path3:before {
  content: "\ea85";
  margin-left: -1em;
  color: rgb(19, 132, 133);
}
.icon-41 .path4:before {
  content: "\ea86";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-41 .path5:before {
  content: "\ea87";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-41 .path6:before {
  content: "\ea88";
  margin-left: -1em;
  color: rgb(19, 132, 133);
}
.icon-41 .path7:before {
  content: "\ea89";
  margin-left: -1em;
  color: rgb(19, 132, 133);
}
.icon-41 .path8:before {
  content: "\ea8a";
  margin-left: -1em;
  color: rgb(19, 132, 133);
}
.icon-40 .path1:before {
  content: "\ea8b";
  color: rgb(0, 0, 0);
}
.icon-40 .path2:before {
  content: "\ea8c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-40 .path3:before {
  content: "\ea8d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-40 .path4:before {
  content: "\ea8e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-40 .path5:before {
  content: "\ea8f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-40 .path6:before {
  content: "\ea90";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-40 .path7:before {
  content: "\ea91";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-40 .path8:before {
  content: "\ea92";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-40 .path9:before {
  content: "\ea93";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-40 .path10:before {
  content: "\ea94";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-40 .path11:before {
  content: "\ea95";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-39 .path1:before {
  content: "\ea96";
  color: rgb(255, 255, 255);
}
.icon-39 .path2:before {
  content: "\ea97";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-39 .path3:before {
  content: "\ea98";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-39 .path4:before {
  content: "\ea99";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-39 .path5:before {
  content: "\ea9a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-39 .path6:before {
  content: "\ea9b";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-39 .path7:before {
  content: "\ea9c";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-39 .path8:before {
  content: "\ea9d";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-39 .path9:before {
  content: "\ea9e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-39 .path10:before {
  content: "\ea9f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-39 .path11:before {
  content: "\eaa0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-38:before {
  content: "\eaa1";
  color: #fff;
}
.icon-37:before {
  content: "\eaa2";
  color: #218ab0;
}
.icon-36:before {
  content: "\eaa3";
  color: #21afb0;
}
.icon-35:before {
  content: "\eaa4";
}
.icon-34:before {
  content: "\eaa5";
  color: #fff;
}
.icon-33:before {
  content: "\eaa6";
}
.icon-l:before {
  content: "\eaa7";
}
.icon-32:before {
  content: "\eaa8";
  color: #fff;
}
.icon-31:before {
  content: "\eaa9";
  color: #4a4a4a;
}
.icon-30:before {
  content: "\eaaa";
}
.icon-29 .path1:before {
  content: "\eaab";
  color: rgb(0, 0, 0);
}
.icon-29 .path2:before {
  content: "\eaac";
  margin-left: -1em;
  color: rgb(33, 138, 176);
}
.icon-29 .path3:before {
  content: "\eaad";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-28:before {
  content: "\eaae";
  color: #fff;
}
.icon-27 .path1:before {
  content: "\eaaf";
  color: rgb(33, 175, 176);
}
.icon-27 .path2:before {
  content: "\eab0";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-26 .path1:before {
  content: "\eab1";
  color: rgb(113, 195, 146);
}
.icon-26 .path2:before {
  content: "\eab2";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-25:before {
  content: "\eab3";
}
.icon-24:before {
  content: "\eab4";
  color: #fff;
}
.icon-23:before {
  content: "\eab5";
  color: #9b9b9b;
}
.icon-22:before {
  content: "\eab6";
}
.icon-21:before {
  content: "\eab7";
}
.icon-20:before {
  content: "\eab8";
}
.icon-19:before {
  content: "\eab9";
}
.icon-18:before {
  content: "\eaba";
  color: #fff;
}
.icon-17:before {
  content: "\eabb";
}
.icon-16:before {
  content: "\eabc";
}
.icon-14 .path1:before {
  content: "\eabd";
  color: rgb(33, 138, 176);
}
.icon-14 .path2:before {
  content: "\eabe";
  margin-left: -1em;
  color: rgb(33, 138, 176);
}
.icon-14 .path3:before {
  content: "\eabf";
  margin-left: -1em;
  color: rgb(33, 138, 176);
}
.icon-14 .path4:before {
  content: "\eac0";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-14 .path5:before {
  content: "\eac1";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-14 .path6:before {
  content: "\eac2";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-14 .path7:before {
  content: "\eac3";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-14 .path8:before {
  content: "\eac4";
  margin-left: -1em;
  color: rgb(33, 138, 176);
}
.icon-14 .path9:before {
  content: "\eac5";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-14 .path10:before {
  content: "\eac6";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-14 .path11:before {
  content: "\eac7";
  margin-left: -1em;
  color: rgb(33, 175, 176);
}
.icon-14 .path12:before {
  content: "\eac8";
  margin-left: -1em;
  color: rgb(33, 138, 176);
}
.icon-14 .path13:before {
  content: "\eac9";
  margin-left: -1em;
  color: rgb(33, 138, 176);
}
.icon-13 .path1:before {
  content: "\eaca";
  color: rgb(155, 155, 155);
}
.icon-13 .path2:before {
  content: "\eacb";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-13 .path3:before {
  content: "\eacc";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-13 .path4:before {
  content: "\eacd";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-13 .path5:before {
  content: "\eace";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-13 .path6:before {
  content: "\eacf";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-13 .path7:before {
  content: "\ead0";
  margin-left: -1em;
  color: rgb(74, 74, 74);
}
.icon-13 .path8:before {
  content: "\ead1";
  margin-left: -1em;
  color: rgb(38, 51, 87);
}
.icon-13 .path9:before {
  content: "\ead2";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-13 .path10:before {
  content: "\ead3";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-13 .path11:before {
  content: "\ead4";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-13 .path12:before {
  content: "\ead5";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-13 .path13:before {
  content: "\ead6";
  margin-left: -1em;
  color: rgb(155, 155, 155);
}
.icon-12:before {
  content: "\ead7";
  color: #21afb0;
}
.icon-11:before {
  content: "\ead8";
  color: #4a4a4a;
}
.icon-10:before {
  content: "\ead9";
  color: #21afb0;
}
.icon-9:before {
  content: "\eada";
  color: #4a4a4a;
}
.icon-8:before {
  content: "\eadb";
  color: #21afb0;
}
.icon-7:before {
  content: "\eadc";
}
.icon-6:before {
  content: "\eadd";
  color: #fff;
}
.icon-5:before {
  content: "\eade";
}
.icon-4:before {
  content: "\eadf";
  color: #fff;
}
.icon-black:before {
  content: "\eae0";
}
.icon-3:before {
  content: "\eae1";
  color: #fff;
}
.icon-2:before {
  content: "\eae2";
  color: #fff;
}
.icon-1:before {
  content: "\eae3";
  color: #fff;
}
.icon-video-tutorial_blue:before {
  content: "\e900";
  color: #0077b5;
}
.icon-video-tutorial:before {
  content: "\e901";
  color: #bfbfbf;
}
.icon-FAQs_Blue:before {
  content: "\e9a7";
  color: #0077b5;
}
.icon-FAQs:before {
  content: "\e9a8";
  color: #bfbfbf;
}
