@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');
body{
  font-family: 'Raleway';
  font-weight: 500;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{ font-family: 'Raleway-SemiBold'; }
.h1,h1{font-size:2.5rem;}
.h2,h2{font-size:2rem;}
.h3,h3{font-size:1.75rem;}
.h4,h4{font-size:1.5rem;}
.h5,h5{font-size:1.25rem;}
.h6,h6{font-size:1rem;}

video{ max-width: 100%; }

.bg-light{ background-color: #F8F8F8!important; }
.text-semi-bold { font-family: 'Raleway-SemiBold'; }
.text-bold { font-family: 'Raleway Bold'; }
.scroll-top{
position: fixed;
bottom:50px;
right:15px;
z-index: 100;
background-color: transparent;
border:solid 1px #d3d3d3;
border-radius: 25px;
}
.scroll-top a{
display: block;
padding: 10px 30px;
color:#d3d3d3;
font-size: .8rem;
}
.scroll-top img{
  vertical-align: baseline;
  margin-left: 4px;
}
/*.custom-u{ position: relative; }
.custom-u::after{ content:""; height: 3px; width: 60%;position: absolute;left:30%; bottom: -5px;background-color: #0077b5; }*/
/*#what-we-do .text-semi-bold.text-default, .about-us-list-items div{
    margin: auto;
    width: 80%;
    font-size: 1.1rem;
    margin-top: 30px;
    margin-bottom: 30px;
}*/
.section-3-right {
    min-height: 333px;
    padding: 20px 30px;
}
.section-3-right .about-us-list-items div {
    line-height: 2em;
}
#about-us-right.section-3-right ul.list {
    list-style: none;
}
#about-us-right.section-3-right ul.list > li:before{
    content: "";
    top: 19px;
    font-size: 20px;
    border-color: transparent #0077b5;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    left: -1em;
    position: relative;
}
#what-we-do, #team-section, #testimonial-section{
    padding: 40px 0;
}
#what-we-do > .container-fluid > .row{  }
#what-we-do .owl-item{ 
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 3px;
    box-shadow: 0px 0px 4px #ccc;
    max-width: 250px;
    margin: auto;
    border-radius: 5px;
    border: solid 1px #f0f0f0;
}
#what-we-do .product-text {
    height: 50px;
    font-size: 15px;
    text-align: center;
}
#what-we-do .owl-stage .owl-item .item > div:first-child {
    padding: 20px;
    border-radius: 3px;
    max-width: 250px;
    margin: auto;
}
#what-we-do .owl-carousel .owl-item{
  border:3px solid #f0f0f0;
}
#what-we-do .owl-carousel .owl-item:hover{
  border:3px solid #0077b5;
  border-radius: 0px;
  color: #0077b5;
  background: #fff;
}
#what-we-do .owl-carousel .owl-item .item > .bg-product.hl{
    background-image: url('../../images/icons/Home Loans.svg');
}
#what-we-do .owl-carousel .owl-item:hover .bg-product.hl{
    background-image: url('../../images/icons/icon_blue/Home Loans.svg');
}
#what-we-do .owl-carousel .owl-item .item > .bg-product.lap{
    background-image: url('../../images/icons/LAP.svg');
}
#what-we-do .owl-carousel .owl-item:hover .bg-product.lap{
    background-image: url('../../images/icons/icon_blue/LAP.svg');
}
#what-we-do .owl-carousel .owl-item .item > .bg-product.redl{
    background-image: url('../../images/icons/REDL.svg');
}
#what-we-do .owl-carousel .owl-item:hover .bg-product.redl{
    background-image: url('../../images/icons/icon_blue/REDL.svg');
}
#what-we-do .owl-carousel .owl-item .item > .bg-product.informal_sector{
    background-image: url('../../images/icons/Informal Sector.svg');
}
#what-we-do .owl-carousel .owl-item:hover .bg-product.informal_sector{
    background-image: url('../../images/icons/icon_blue/Informal Sector.svg');
}
#what-we-do .owl-carousel .owl-item .item > .bg-product.credit_restoration{
    background-image: url('../../images/icons/Credit Restoration.svg');
}
#what-we-do .owl-carousel .owl-item:hover .bg-product.credit_restoration{
    background-image: url('../../images/icons/icon_blue/Credit Restoration.svg');
}
#what-we-do .owl-next,
#what-we-do .owl-prev{
  display: none;
}
#what-we-do .bg-product {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    height: 80px;
}
button.owl-prev,
button.owl-next{ 
    background-color: #0077b5!important;    
    border-radius: 50%;
    width: 30px;
    height: 30px; 
    color: #fff!important;
}
button.owl-prev{
  position: absolute;
  left: 0;
  top: 35%;
}
button.owl-next{ 
  position: absolute;
  right: 0;
  top: 35%;
}
.owl-dots{
  text-align: center;
}
p.text-semi-bold.text-default{ width:76%;margin:auto;font-size: 17px; color: #606060;}
#teamMembers .team-member-image {
    position: relative;
}
.team-member-image {
    height: 120px;
    width: 120px;
    margin: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 0px 8px #ccc;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
#image1 {
    background-image: url('../../images/user_images/Akash_Gupta.jpg');
}
#image2 {
    background-image: url('../../images/user_images/Ashok-BN.jpg');
}
#image3 {
    background-image: url('../../images/user_images/Krishna_Ravi.jpg');
}
#image4 {
    background-image: url('../../images/user_images/Roshni_Bhuttar.jpg');
}
#image5 {
    background-image: url('../../images/user_images/Shashank.jpg');
}
.team-member-image:hover > .text-bold::before{
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.team-member-image:hover > .text-bold{
  background-color: rgba(0,0,0,.4);
  height: 100%;
  cursor: pointer;
}
.team-member-image:hover > .text-bold > span {
    display: inline-block;
}
.team-member-image > .text-bold span {
    position: relative;
    color: #fff!important;
    display: none;
    cursor: pointer;
    font-size: .8rem;
    vertical-align: middle;
    font-family: 'Montserrat';
}

.number{font-weight:300;font-family:'Montserrat';}
.section-1-text-content{margin:auto 0;font-size:58px;line-height:64px;}
.about-us-page-body{background:url(../../images/bg/Careers-Page-Banner.jpg) no-repeat center center;background-size:cover;background-position-y:bottom;padding:0;margin-top:75px;min-height:80vh;min-width:100%;position:relative;z-index:0;}
.about-us-page-overlay{top:0;left:0;background-color:rgba(0, 0, 0, 0.5)!important;width:100%;min-height:80vh;color:#fff;font-weight:400;}
.about-us-page-overlay .section-1-text-content{text-align:center;width:100%;}
.section-1-text-content-2{display:flex;justify-content:center;min-height:80vh;}
.text-large{font-size:40px;}
.position-relative{position:relative;}
#amount-disbursed{margin-top:0px;background-image:url(../../images/bg/About_us2.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;}
#amount-disbursed .section-1-text-content div{font-size:24px;}
#amount-disbursed > .row > .col-md-12{padding:40px 0;}
#amount-disbursed .section-1-text-content-2{min-height:200px;}
#amount-disbursed .section-1-text-content-2 img{ position: absolute; top: 30%;}

#image-hitendra{background-image:url(../../images/user_images/Hitendra_Hiremath.jpg);}
#image-rajasekhar{background-image:url(../../images/user_images/Rajasekhar_Varikuti.jpg);}
#image-satyam{background-image:url(../../images/user_images/Satyam_Mishra.jpg);}
#image-nitish{background-image:url(../../images/user_images/Nithish_Rao.jpg);}
.team-member-image{height:120px;width:120px;margin:auto;background-color:#fff;background-size:cover;background-repeat:no-repeat;background-position:center;border-radius:50%;box-shadow:0px 0px 8px #ccc;}
#testimonials .team-member-image{position: absolute; height:100px;width:100px;margin-top:-70px;}
.text-default{color:#606060;}
.text-bold{font-family:'Raleway Bold','Lohit Devanagri', 'Lohit Kannada', 'Lohit Punjabi', 'Lohit Marathi', 'Lohit Tahil', 'Lohit Telugu';}
#testimonial-section .owl-carousel.owl-drag .owl-item .text-bold{text-align:center;}
#testimonial-section .owl-carousel.owl-drag .owl-item .text-bold + div{font-size:12px;text-align:center;overflow:hidden;display:-webkit-box;-webkit-line-clamp:3;-webkit-box-orient:vertical;}
.testimonial-desccription{margin-top:10px;/*height:130px;*/ width: }
#testimonial-section .owl-carousel.owl-drag .owl-item > div{
  box-shadow: 0px 0px 4px #ccc;
  height: auto;
  min-height: 258px;
  width: 80%;
  padding: 20px;
  margin: 0px auto;
}
.owl-carousel.owl-loaded{
  margin-top: 21px;
}
.owl-carousel button.owl-dot {
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    background-color: #ccc;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0px 5px;
}
.owl-nav {
    display: none;
}
.owl-carousel button.owl-dot.active
{
  background-color: #0077b5;
}
@media (min-width: 768px){
#testimonials .carousel-inner .active > div{border-top:solid 2px transparent!important;}
.team-member-image{/*top:-20%;left:35% !important;*/}
#testimonial-section .owl-carousel.owl-drag .owl-item .text-bold + div{margin:10px 0px;}
}
#testimonial-section .owl-carousel .owl-stage-outer{ padding-top: 70px;padding-bottom: 10px; }
#testimonial-section .team-member-image{ /*position: absolute; top: -50px; left: 30%;*/ margin: -75px auto 0px auto; }

a{text-decoration:none;color:#0077b5;}
a:hover{text-decoration:none!important;}
a:focus,a:hover{text-decoration:none!important;}
ul{list-style:none;margin:0px!important;padding:0px;}
#fincity_logo{transform:scale(1);cursor:pointer;}
.navbar-brand{max-height:45px;cursor:pointer;}
a:hover{text-decoration:none!important;}
ul{list-style:none;margin:0px!important;padding:0px;}
footer{background-color:#292826;padding:30px 0px 15px 0px;width:100%;color:#fff;}
ul.info li{display:flex;align-items:baseline;margin-bottom:5px;}
ul.info li span:not(.number){font-family:'Raleway', sans-serif;color:#FF8000;font-size:12px;font-weight:800;width:70px;}
ul.info li p{font-family:'Montserrat', sans-serif;font-size:11px;font-weight:600;width:170px;margin:0px;}
ul.social_icons{margin-top:50px!important;}
ul.social_icons li{width:24px;height:24px;border:1px solid #fff;border-radius:50%;display:flex;justify-content:center;align-items:center;float:left;font-size:17px;margin-right:15px;}
.footer_head{font-family:'Montserrat', sans-serif;font-weight:600;font-size:20px;color:#FF8000;line-height:normal;margin-top:-5px;}
.mr_ul{margin-right:55px!important;}
ul.links{float:left;}
ul.links li{height:33px;display:flex;align-items:flex-start;line-height:normal;margin-bottom:10px;}
ul.links li a{font-family:'Raleway', sans-serif;font-size:11.5px;font-weight:600;color:#fff;position:relative;padding-left:13px;}
ul.links li span.arrow{border:solid darkgray;border-width:0 1.98px 1.98px 0;display:inline-block;padding:2px;vertical-align:middle;transform:rotate(-45deg);-webkit-transform:rotate(-45deg);margin-top:5px;}
@media only screen and (max-width: 1024px){
.mr_ul{margin-right:0px!important;}
ul.info li span{width:90px;}
.footer_head{font-size:17px;}
ul.social_icons li{width:35px;height:35px;font-size:17px;margin-right:10px;}
}
.footer--fincity-content hr{border-top:solid 2px #c8c8c83d;}
.a-links span{background:url('../../images/cities-social/Arrow%20Right.svg') no-repeat left 4px;background-size:8px;padding-left:0px;max-height:100%;font-family:'Raleway';padding-bottom:6px;display:inline-block;position:relative;z-index:1;overflow:hidden;}
.a-links:not([href="#"]) span:after{content:"";position:absolute;left:0px;bottom:0px;height:2px;width:0px;background-color:none;-webkit-transition:all 0.5s;transition:all 0.5s;}
.a-links:hover{text-decoration:none;color:#fff!important;}
.a-links:not(.no-links):hover span:after{width:30px;background:#0077b5;}
.slide-down{transition:all 1s ease-in-out;height:344px;}
@media screen and (max-width:479px){
ul{padding:0;}
}
.footer_head,.info{margin-top:6px!important;}
.fincity--content{width:94.2%;font-size:11px;font-weight:600;line-height:1.5;}
p.fincity--content{margin-bottom:0;}

ul{list-style:none;margin:0px!important;padding:0px;}
.number.transparent{font-family:'Montserrat', sans-serif;}
@media screen and (max-width:479px){
li{padding:0;}
}
a:hover{text-decoration:none!important;}
ul{list-style:none;margin:0px!important;padding:0px;}
.footer-section{width:100%;position:relative;background:#0077b5;}
.footer-section ul{text-align:center;}
.footer-section ul > li{float:left;width:100%;margin:0 7px;display:block;text-align:left;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;list-style-type:none;}
.footer-section ul li{float:none;display:inline-block;width:auto;line-height:3;}
.footer-section ul > li a{color:#ffffff;font-size:18px;text-decoration:none;font-size:11px;}

/*prasad code*/
.custom-u {
  border-bottom: solid 3px #0077b5;
  margin: auto;
  width: 5%;
  min-width: 75px;
  border-radius: 0px;
}
.cont_header{
  font-size: 27px;
  color: #000;
  font-weight: 600;
  font-family: 'Raleway';
  text-align: center;
  margin:3px;
  letter-spacing: 1px;
}
.color_white{
  color: #fff;
  font-weight: 500 !important;
  font-size: 29px;
}
.font_raleway{
  font-family: 'Raleway';
}
.font_montes{
  font-family: 'Montserrat';
}
.cont_text{
    width: 75%;
    margin: 20px auto;
    text-align: center;
}
#track2{
  margin-top: 3px !important;
}
#about-us-right.section-3-right ul.list {
    margin: auto !important;
    width: 60%;
    margin: 20px auto !important;
}
.header2{
    background-color: #fff;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about_us{
  padding-left: 10%;
  padding-right: 6.8%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.about_list{
  width: 100%;
  float: right;
}
.d-inline-block{
  display: inline-block;
}
.navbar-toggler:not(:disabled):not(.disabled){
  display: none;
}
.navbar{
  float: right;
  display: inline-block;
}
.about_list li{
    display:inline-block;
    align-items:center;
    font-family:'Raleway', sans-serif;
    color:#000;
    font-size:13px;
    font-weight:500;
    margin:0px 20px 0px 0px;
    /*float: right !important;*/
}
.about_list li a{
  color: #000;
  text-align: center;
  padding: 7px 10px; !important;
  border:1px solid #fff;
}

.about_list li:hover a{
  border:1px solid #0077b5;
  color: #0077b5 !important;
  border-radius: 2px;
  transition: 0.4s;
}
.testimonial_name{
  font-size: 16px;
  font-family: 'Raleway';
}
.testim_desig{
  font-family: 'Raleway';
  font-size: 11px;
  font-weight: 600;
}
.testim_review{
  font-size: 12px;
  color: #555;
  font-family: 'Raleway';
  font-weight: 500;
}
.team_member:hover{
  border-top: 5px solid #ff8000;
}
.team_member{
  border-top: 5px solid #f8f8f8;
  padding: 5px;
}
.triangle-down{
  display: none;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #ff8000;
  position: absolute;
  left: 45%;
  top: 0px;
}
.team_member:hover .triangle-down{
  display: block;
}
.member_info{
  font-family: 'Raleway';
  margin: 15px auto;
  margin-bottom: 0px;
}
.member_info .member_name{
  color: #000;
  font-weight: 700;
  font-size: 16px;
  margin: 5px 0px;
}
.member_info .member_desig{
  color: #333;
  font-weight: 600;
  font-size: 12.5px;
  margin: auto;
  width: 70%;
}
.number{
  font-weight: 500 !important;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}
#about_header{
  background: #fff;
  z-index: 99999;
}

/*location section*/
.location_section{
  background:#f8f8f8; 
  padding: 20px 0px;
}
.address_section{
  background:#fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-box{
  position: relative;
  padding: 15px;
}
.search-box .btn{
  position: absolute;
  top: 10px;
  right: 6%;
}
.search-box input{
  width: 100%;
  min-height: 50px;
  border:1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  padding-right: 42px;
}
.addresses .loc_address{
  border-left:4px solid #fff;
  box-shadow: .5px 0px 1px #ccc;
}
.addresses .loc_address:hover,
.addresses .loc_address.active{
  box-shadow: .5px 0px 3px #ccc;
  border-left:4px solid #0077b5;
}
.addresses .media{
  box-shadow: 
  padding:5px 35px;
}
.addresses .media-body{
  margin-left: 8px;
}
.addresses .media-body h6{
  font-size: 15px;
  font-weight: 600;
  font-family: 'Montserrat';
  color: #333;
  margin:5px;
  margin-top: 0px;
}
.addresses .media-body .address{
  color: #0077b5;
  font-size: 10px;
  font-weight: 600;
  font-family: 'Montserrat';
  margin-bottom: 0px;
}
#map {
  min-height: 460px;  
  width: 100%; 
}
.pr-0{
  padding-right: 0px;
}
.pl-0{
  padding-left: 0px;
}

.hamburg-icon{
  background: url('../../images/menu.svg');
  background-size: 30px 30px;
  height: 30px;
  width: 30px;
}
.navbar-nav{

}
@media screen and (max-width:767px){
    .cont_text{
        width: 100% !important;
    }
    #about-us-right.section-3-right ul.list {
        width: 100%;
    }
    .header2 ul{
      display: block;
      text-align: left;
    }
    .header2 ul li{
      display: block;
    }
    .pr-0{
      padding-right: 15px !important;
    }
    .pl-0{
      padding-left: 15px !important;
    }    
    .about_list{
      width: 100%;
    }
    .about_list li{
      display: flex !important;
    }
    .navbar-toggler:not(:disabled):not(.disabled){
      display: block;
    }
    .navbar{
      float: none;
      display: flex;
      padding: 0;
    }
    .navbar-toggler{
      float: right;
      display: block;
    }
    #testimonial-section .team-member-image{
      margin: -63px auto 0px auto;
    }
    .team-member-image{
      height: 80px;
      width: 80px;
    }
    .owl-nav {
      display: block;
    }
}
@media screen and (max-width:1003px){
  .navbar{
      float: none;
      /*display: flex;*/
      padding: 0;
    }
}