@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1tq66y');
  src:  url('fonts/icomoon.eot?1tq66y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1tq66y') format('truetype'),
    url('fonts/icomoon.woff?1tq66y') format('woff'),
    url('fonts/icomoon.svg?1tq66y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Ahmedabad:before {
  content: "\e900";
  color: rgb(2550,0);
  opacity: 0.7;
  font-size:50px;
}
.icon-Bengaluru
{
  color: red;
  font-size:50px;
}
.icon-Bengaluru .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Bengaluru .path2:before {
  content: "\e90b";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path3:before {
  content: "\e90c";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Bengaluru .path4:before {
  content: "\e90d";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path5:before {
  content: "\e90e";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path6:before {
  content: "\e90f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path7:before {
  content: "\e910";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path8:before {
  content: "\e911";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path9:before {
  content: "\e912";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path10:before {
  content: "\e913";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path11:before {
  content: "\e914";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path12:before {
  content: "\e915";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path13:before {
  content: "\e916";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path14:before {
  content: "\e917";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path15:before {
  content: "\e918";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path16:before {
  content: "\e919";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path17:before {
  content: "\e91a";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Bengaluru .path18:before {
  content: "\e91b";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Bengaluru .path19:before {
  content: "\e91c";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Bengaluru .path20:before {
  content: "\e91d";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Chennai .path1:before {
  content: "\e91e";
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Chennai .path2:before {
  content: "\e91f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path3:before {
  content: "\e920";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Chennai .path4:before {
  content: "\e921";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path5:before {
  content: "\e922";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path6:before {
  content: "\e923";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path7:before {
  content: "\e924";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path8:before {
  content: "\e925";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path9:before {
  content: "\e926";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path10:before {
  content: "\e927";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path11:before {
  content: "\e928";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path12:before {
  content: "\e929";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path13:before {
  content: "\e92a";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path14:before {
  content: "\e92b";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path15:before {
  content: "\e92c";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path16:before {
  content: "\e92d";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path17:before {
  content: "\e92e";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path18:before {
  content: "\e92f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path19:before {
  content: "\e930";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Chennai .path20:before {
  content: "\e931";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Facebook:before {
  content: "\e932";
}
.icon-Fincity-Logo:before {
  content: "\e933";
  color: #0077b5;
}
.icon-Hyderabad .path1:before {
  content: "\e934";
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Hyderabad .path2:before {
  content: "\e935";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path3:before {
  content: "\e936";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Hyderabad .path4:before {
  content: "\e937";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path5:before {
  content: "\e938";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Hyderabad .path6:before {
  content: "\e939";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Hyderabad .path7:before {
  content: "\e93a";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path8:before {
  content: "\e93b";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path9:before {
  content: "\e93c";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path10:before {
  content: "\e93d";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path11:before {
  content: "\e93e";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path12:before {
  content: "\e93f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path13:before {
  content: "\e940";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path14:before {
  content: "\e941";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path15:before {
  content: "\e942";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path16:before {
  content: "\e943";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path17:before {
  content: "\e944";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path18:before {
  content: "\e945";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path19:before {
  content: "\e946";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path20:before {
  content: "\e947";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path21:before {
  content: "\e948";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path22:before {
  content: "\e949";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path23:before {
  content: "\e94a";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path24:before {
  content: "\e94b";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path25:before {
  content: "\e94c";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path26:before {
  content: "\e94d";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path27:before {
  content: "\e94e";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path28:before {
  content: "\e94f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path29:before {
  content: "\e950";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path30:before {
  content: "\e951";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path31:before {
  content: "\e952";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path32:before {
  content: "\e953";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path33:before {
  content: "\e954";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path34:before {
  content: "\e955";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path35:before {
  content: "\e956";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path36:before {
  content: "\e957";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path37:before {
  content: "\e958";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path38:before {
  content: "\e959";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path39:before {
  content: "\e95a";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path40:before {
  content: "\e95b";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path41:before {
  content: "\e95c";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path42:before {
  content: "\e95d";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path43:before {
  content: "\e95e";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path44:before {
  content: "\e95f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path45:before {
  content: "\e960";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path46:before {
  content: "\e961";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path47:before {
  content: "\e962";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path48:before {
  content: "\e963";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path49:before {
  content: "\e964";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path50:before {
  content: "\e965";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path51:before {
  content: "\e966";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path52:before {
  content: "\e967";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path53:before {
  content: "\e968";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path54:before {
  content: "\e969";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Hyderabad .path55:before {
  content: "\e96a";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path1:before {
  content: "\e96b";
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Kolkatta .path2:before {
  content: "\e96c";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path3:before {
  content: "\e96d";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Kolkatta .path4:before {
  content: "\e96e";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path5:before {
  content: "\e96f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path6:before {
  content: "\e970";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path7:before {
  content: "\e971";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path8:before {
  content: "\e972";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path9:before {
  content: "\e973";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path10:before {
  content: "\e974";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path11:before {
  content: "\e975";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path12:before {
  content: "\e976";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path13:before {
  content: "\e977";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path14:before {
  content: "\e978";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path15:before {
  content: "\e979";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path16:before {
  content: "\e97a";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path17:before {
  content: "\e97b";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path18:before {
  content: "\e97c";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path19:before {
  content: "\e97d";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path20:before {
  content: "\e97e";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path21:before {
  content: "\e97f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path22:before {
  content: "\e980";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path23:before {
  content: "\e981";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path24:before {
  content: "\e982";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path25:before {
  content: "\e983";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path26:before {
  content: "\e984";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path27:before {
  content: "\e985";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Kolkatta .path28:before {
  content: "\e986";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Linkedin:before {
  content: "\e987";
}
.icon-Mumbai .path1:before {
  content: "\e988";
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Mumbai .path2:before {
  content: "\e989";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path3:before {
  content: "\e98a";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Mumbai .path4:before {
  content: "\e98b";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path5:before {
  content: "\e98c";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-Mumbai .path6:before {
  content: "\e98d";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path7:before {
  content: "\e98e";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path8:before {
  content: "\e98f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path9:before {
  content: "\e990";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path10:before {
  content: "\e991";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path11:before {
  content: "\e992";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path12:before {
  content: "\e993";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path13:before {
  content: "\e994";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path14:before {
  content: "\e995";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path15:before {
  content: "\e996";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path16:before {
  content: "\e997";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path17:before {
  content: "\e998";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path18:before {
  content: "\e999";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path19:before {
  content: "\e99a";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path20:before {
  content: "\e99b";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path21:before {
  content: "\e99c";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path22:before {
  content: "\e99d";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path23:before {
  content: "\e99e";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path24:before {
  content: "\e99f";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path25:before {
  content: "\e9a0";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path26:before {
  content: "\e9a1";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path27:before {
  content: "\e9a2";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path28:before {
  content: "\e9a3";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path29:before {
  content: "\e9a4";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path30:before {
  content: "\e9a5";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path31:before {
  content: "\e9a6";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path32:before {
  content: "\e9a7";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path33:before {
  content: "\e9a8";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path34:before {
  content: "\e9a9";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path35:before {
  content: "\e9aa";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path36:before {
  content: "\e9ab";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path37:before {
  content: "\e9ac";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Mumbai .path38:before {
  content: "\e9ad";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path1:before {
  content: "\e9ae";
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-New-Delhi .path2:before {
  content: "\e9af";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path3:before {
  content: "\e9b0";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-New-Delhi .path4:before {
  content: "\e9b1";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-New-Delhi .path5:before {
  content: "\e9b2";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path6:before {
  content: "\e9b3";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path7:before {
  content: "\e9b4";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path8:before {
  content: "\e9b5";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path9:before {
  content: "\e9b6";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path10:before {
  content: "\e9b7";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path11:before {
  content: "\e9b8";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path12:before {
  content: "\e9b9";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path13:before {
  content: "\e9ba";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path14:before {
  content: "\e9bb";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path15:before {
  content: "\e9bc";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path16:before {
  content: "\e9bd";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path17:before {
  content: "\e9be";
  margin-left: -0.931640625em;
  color: rgb(255, 255, 255);
  opacity: 0.7;
}
.icon-New-Delhi .path18:before {
  content: "\e9bf";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path19:before {
  content: "\e9c0";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path20:before {
  content: "\e9c1";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path21:before {
  content: "\e9c2";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path22:before {
  content: "\e9c3";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path23:before {
  content: "\e9c4";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-New-Delhi .path24:before {
  content: "\e9c5";
  margin-left: -0.931640625em;
  color: rgb(0, 0, 0);
  opacity: 0.7;
}
.icon-Twitter:before {
  content: "\e9c6";
}
.icon-Youtube:before {
  content: "\e9c7";
}
