body{
	font-family: 'Montserrat';
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
}
.h1,h1{font-size:2.5rem}
.h2,h2{font-size:2rem}
.h3,h3{font-size:1.75rem}
.h4,h4{    font-size: 2.6rem;}
.h5,h5{font-size:1.25rem}
.h6,h6{font-size:1rem}
.hide{ display: none; }
.show{ display: block; }
.text-danger{ font-size: 1.2rem; color:red!important; line-height: 1.6rem; }
/****************Header**********************/

.cursor_pointer{
	cursor:pointer;
}
/****************General******************/
.body_padding{
	/*padding-left: 0 !important;
	padding-right: 0 !important;*/
	padding-top: 60px;
}
/**********************left side**********************/
.left_side_bg{
	background:#fbfbfb;
	height:99vh;
}
.left_side_border{
	border-right:2px solid #21afb0;
	height:100vh;
}
.floating_curve{

}
#count_percent,#count2{
	padding-left:5px;padding-top:110px;
}
.floating_bg{
	background:#21afb0;
}
.left_height_div .loading_text{
	
	padding-top: 0px; 
	padding-left:30px;
	padding-right:0px;
	color:#000000;
	font-size:10px;
	text-align:left;
	position: relative;
	top: -49px;
	left: 10px;
	width:190px;
}
.loading_text{
	top:20px;
	padding-top: 0px; 
	padding-left:30px;
	padding-right:0px;
	color:#000000;
	font-size:10px;
	text-align:left;
	position: relative;
}
.col-lg-2 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20% !important;
}
.col-lg-8 {
    -ms-flex: 0 0 60%;
    flex: 0 0 60%;
    max-width: 60% !important;
}
.loading_text_css span:nth-child(1){
	text-transform:capitalize;
}

.left_menu_padding{
	padding-top:20% !important;
}
.big_round_div{
	padding: 25px;
	width: 75px;
	border-radius: 100px;
	/*border: 1px solid #21afb0;*/
	position: relative;
	left: -40px;
	background-color:#21afb0;
	color:#ffffff;
	font-size:16px;
}
.big_round_div_check{
	padding: 25px;
	border-radius: 100px;
	border: 2px solid #21afb0;
	position: relative;
	left: -40px;
	width: 75px;
	height: 75px;
	background-color:#21afb0; 
}
.big_round_div_check:hover{
	padding: 25px;
	border-radius: 100px;
	border: 2px solid #cccccc;
	position: relative;
	left: -40px; 
	background-color:#21afb0; 
}
.personal_details{
	background-image:url(../images/9.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.personal_details:hover{
	background-image:url(../images/10.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.personal_details_dis{
	background-image:url(../images/9.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.personal_details_dis:hover{
	background-image:url(../images/9.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.income_details{
	background-image:url(../images/11.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.income_details:hover{
	background-image:url(../images/12.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.right_icon{
	background-image:url(../images/27.svg);
	background-position:center;
	background-size: 60px 60px;
	background-repeat: no-repeat;
}

.right_icon:hover{
	background-image:url(../images/27.svg);
	background-position:center;
	background-size: 60px 60px;
	background-repeat: no-repeat;
}
.right_icon_big{
	background-image:url(../images/27.svg);
	background-position:center;
	background-size: 70px 70px;
	background-repeat: no-repeat;
}

.right_icon_big:hover{
	background-image:url(../images/27.svg);
	background-position:center;
	background-size: 70px 70px;
	background-repeat: no-repeat;
}
.income_details_dis{
	background-image:url(../images/11.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.income_details_dis:hover{
	background-image:url(../images/11.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.loan_sanction{
	background-image:url(../images/13.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.loan_sanction:hover{
	background-image:url(../images/14.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}
.loan_sanction_dis{
	background-image:url(../images/13.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}

.loan_sanction_dis:hover{
	background-image:url(../images/13.svg);
	background-position:center;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}
.small_round_div{
	padding: 25px;
	border-radius: 100px;
	border: 2px solid #21afb0;
	position: relative;
	left: -26px;
	background-color:#ffffff;
	width:50px;
}
.small_round_div:hover{
	padding: 25px;
	border-radius: 100px;
	border: 2px solid #cccccc;
	position: relative;
	left: -26px;
	background-color:#ffffff;
}
.small_round_div_dis{
	padding: 25px;
	border-radius: 100px;
	border: 2px solid #cccccc;
	position: relative;
	left: -26px;
	background-color:#ffffff;
	width:50px;
}
.small_round_div_dis:hover{
	padding: 25px;
	border-radius: 100px;
	border: 2px solid #cccccc;
	position: relative;
	left: -26px;
	background-color:#ffffff;
}

/****************************Middle Pannel**************************/
.center_bg{
	background:#ffffff;
	background-position:center;
	background-size: 334px 172px;
	background-repeat: no-repeat;
	margin:0px auto;
}
.middle_div_container{
	width:50%;
	margin:50px auto;
	text-align:center;
}
.middle_div_container_property{
	width:80%;
	margin: 70px auto;
	text-align:center;
}
.home_page_body_btn{
	background:#f2f2f2;
	width:230px;
	height:100px;
	border-radius:5px;
	color:#000000;
	margin:2% auto;
	font-size:14px;
}

.home_page_body_btn:hover, .home_page_body_btn.active{
	background:#0e3d51;
	color:#ffffff;
}
.home_lone_btn{
	background-image:url(../images/86.svg);
	background-position:center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	border: 1px solid #888888;
	color: #888;
}
.home_lone_btn:hover, .home_lone_btn.active {
	background-image:url(../images/1.svg);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position:center;
	cursor:pointer;
	
}
.home_page_body_btn > span{
	top: 75px;
	position: relative;
	text-transform: uppercase;
}

.balance_transfer_btn{
	background-image:url(../images/5.svg);
	background-position:center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	border: 1px solid #888888;
	color: #888;
}
.balance_transfer_btn:hover, .balance_transfer_btn.active{
	background-image:url(../images/4.svg);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position:center;
	color:#ffffff;
	cursor:pointer;
}

.loan_againt_property_btn{
	background-image:url(../images/7.svg);
	background-position:center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	border: 1px solid #888888;
	color: #888;
}
.loan_againt_property_btn:hover, .loan_againt_property_btn.active{
	background-image:url(../images/6.svg);
	background-size: 50px 50px;
	background-repeat: no-repeat;
	background-position:center;
	cursor:pointer;
	color: #ffffff;
}
/**************************right side***************************/
.right_side_bg{
	background:#ffffff;
}
.right_pannel_color_bg{
	background:#d2dee1;
	height:100%;
}
.right_pannel_msg_container{
	padding-top:50px;
	text-align:center;
}

.msg_icon{
	background-image:url(../images/15.svg);
	background-position:center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	height:50px;
	width:50px;
	margin:0px auto;
	cursor: pointer;
}

.right_pannel_information_container{
	padding:30px;
	margin:0px auto;
	text-align:center;
	color:#000000;
}
.right_pannel_information_container h4{
	color:#888888;
}
.right_pannel_bg_pic{
	background:url(../images/BG1.png);
	background-position:center;
	background-size: 167px 86px;
	background-repeat: no-repeat;
	height:86px;
	width:167px;
	margin:0px auto;
	position:absolute;
	bottom:0px;left:20%;
}
.right_pannel_information_container span{
	line-height:10px;
}
.male_icon{
	background-image:url(../images/68.svg);
	background-position:center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	height:150px;
	width:100%;
	margin:0px auto;
	cursor: pointer;
	border: 2px solid #ccc;
	border-radius:3px;
}
.female_icon{
	background-image:url(../images/69.svg);
	background-position:center;
	background-size: 50px 50px;
	background-repeat: no-repeat;
	height:150px;
	width:100%;
	margin:0px auto;
	cursor: pointer;
	border: 2px solid #ccc;
	border-radius:3px;
	margin-left:10px;
}
/****************************************Footer*****************************/
.footer_container{
	position: absolute;
	bottom: 30px;
	left: 0px;
	text-align:center;
}
.footer_text{
	color:#888888;
	font-size:10px;
}

.footer_text_pp_tu{
	color:#cccccc;
	padding-left:50px;
}
.footer_text span font{
	color:#21afb0;
	text-transform: capitalize;;
}
/***********home page*****************/

.fin_home_text h2{
	font-size:40px;
	color:#ffffff;
	padding-bottom: 0px;
	line-height: 20px;
}
.fin_home_text h3{
	font-size:30px;
	color:#ffffff;
	padding-bottom: 10px;
}
.fin_home_text h4{
	font-size:18px;
	color:#ffffff;
	padding-bottom: 10px;
}
.fin_home_search{
	width:70% !important;
	margin:0px auto 20px auto;
	height:50px;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size:12px;
	color:#060244;
	text-align: center;
}
.fin_home_search_btn{
	width:25%;
	margin:0px auto;
	background: #21afb0;
	border-color:#21afb0;
	color:#ffffff;
	padding: 15px 0;
}
.fin_custome_btn{
	width:30%;
	margin:0px auto;
	background: transparent;
	border-color:#888888;
	border-width:2px;
	color:#000000;
	padding: 10px 0;
	text-transform:uppercase;
	background:#ffffff;
	cursor:pointer;
}
.fin_home_text .fa-search{
	position:relative;
	left: 12%;
	top: -5px;
	font-size: 30px;
	font-weight: normal;
}

/******************************************** Property Location ***************************************/
.property_text{
	font-size:12px;
	color:#848080;
	text-transform:uppercase;
	text-align:left;
	font-weight:normal;
	margin-top:15px;
	padding:0 30px;
}
.custome_input_property{
	border:0px solid #ffffff;
	border-bottom:3px solid #21afb0;
	border-radius:0px;
	padding:.5rem .2rem;
	font-size:13px;
	text-transform:uppercase;
	text-align:left;
	font-weight:normal;
	background: transparent;
}
.fin_header_text{
	color:#848080;
	font-size:20px;
	margin-bottom: 20px;
	/*text-transform:uppercase;*/
}
.custome_select_property{
	border:0px solid #ffffff;
	border-bottom:3px solid #21afb0;
	border-radius:0px;
	padding:5px 25px 5px 5px;
	font-size:13px;
	text-transform:uppercase;
	text-align:left;
	font-weight:normal;
	background: transparent;
	 -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/br_down.png) 98% / 4% no-repeat transparent;
	outline: none !important;
	height: 35px !important;
}
.custome_select_property_header{
	border:0px solid #ffffff;
	border-bottom:2px solid #21afb0;
	border-radius:0px;
	padding:5px 25px 5px 0px;
	font-size:13px;
	text-transform:uppercase;
	text-align:left;
	font-weight:normal;
	background: transparent;
	 -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/br_down.png) 98% / 17% no-repeat transparent;
	outline: none !important;
	height: 35px !important;
	width:95px;
	color:#888888;
}
.custome_input_property_header{
	border:0px solid #ffffff;
	border-bottom:2px solid #21afb0;
	border-radius:0px;
	padding:5px 25px 5px 0px;
	font-size:13px;
	text-transform:uppercase;
	text-align:left;
	font-weight:normal;
	background: transparent;
	 -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: url(../images/br_down.png) 98% / 9% no-repeat transparent;
	outline: none !important;
	height: 35px !important;
	width:121px;
	color:#000000;
}
/*******************************Upload Download Form *****************************/
.up_down_form_text{
	font-size:12px;
	color:#848080;
	text-align:center;
	font-weight:normal;
	margin-top:20px;
	padding:0 20px;
}
.fin_down_btn{
	margin:0px auto;
	background: #21afb0;
	border-color:#21afb0;
	color:#ffffff;
	padding: 5px 15px;
	text-transform:uppercase;
	font-size:12px;
	border-radius:2px;
}
.fin_upload_btn{
	margin:0px auto;
	background-image:url(../images/24.svg);
	background-repeat:no-repeat;
	background-position:center;
	background-size:25px 25px;
	background-color: #11458e;
	border-color:#11458e;
	color:#ffffff;
	padding: 10px 5px;
	text-transform:uppercase;
	border-radius:0px;
	width:50px;
	height:30px;
	position: relative;
	top: -30px;
	left: 105px;
}
.fin_up_btn{
	margin:0px auto;
	background: #21afb0;
	border-color:#21afb0;
	color:#ffffff;
	padding: 10px 5;
	text-transform:uppercase;
}
.file-input-wrapper {
    width: 200px;
    height: 30px;
    overflow: hidden;
    position: relative;
}
.file-input-wrapper > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
}
.file-input-wrapper > .btn-file-input {
    display: inline-block;
    width: 200px;
    height: 30px;
	border:1px solid #cccccc;
    background-color: transparent;
}
.file-input-wrapper:hover > .btn-file-input {
    background-color: transparent;
	border:1px solid #cccccc;
}

/* Next button */
.btn-outline-success:hover, .btn-outline-success:focus {
    color: #fff;
    background-color: #0e3d51;
    border-color: #0e3d51;
    box-shadow: 0 0 0 0;
}

.deactive_left_menu{
	color: #888888;
	font-size:14px;
}
.deactive_left_menu_desc{
	color: #888888 ! important;
}
.active_left_menu{
	color: #21afb0;
	font-size: 14px;
}

.download_upload_next_btn_show_only_hover{
	display: none;
}
 
/* Next button */
.second_navbar_manu{
	float: left;
	position: absolute;
	left: 134px;
	background: transparent;
	top: 19px;
}
.services_products{
	font-size: 12px;
	color: #888888;
	cursor: pointer;
	margin-left: 20px;
}
.login_user_text{
	color: #888888 !important;
}
.login_user{
	position: relative;
	top: -4px;
	left: 16px;
}
.completed_process_header{
	border-top: 3px solid #00D7DA !important;
}

@media only screen and (max-width: 1024px) and (min-width:769px) {	
}
@media only screen and (max-width: 1024px) and (min-width:767px) {
}


@media only screen and (max-width: 768px) and (min-width:641px) {
}

@media only screen and (max-width: 1024px)  {

}
@media only screen and (max-width: 800px)  {
}
@media only screen and (max-width: 768px)  {
	
}

@media only screen and (max-width: 767px)  {

}

@media only screen and (max-width: 640px)  {
}

@media only screen and (max-width: 736px)  {

}
@media only screen and (max-width: 568px)  {

}
@media only screen and (max-width: 480px)  {

}

@media only screen and (max-width: 387px)  {

}

@media only screen and (max-width: 414px)  {

}

@media only screen and (max-width: 360px)  {

}


@media only screen and (max-width: 320px)  {
	
}
/* Home page responsive */
/***************************** Responsive******************************/
@media screen and (max-width: 599px) and (min-width: 320px) {
	.fixed-top{
		background:#21afb0;
	}
}

.modal-title {
	text-align : center;
	font-size: 1.6rem;
}

.modal-header {
    text-align: center;
    display: block;
    border-bottom: none;
    padding: 10px;
    padding-top: 20px;
}

.modal-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: none;
}
.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: none;
    padding: 20px;
    font-size: 1.4rem
}
.modal-body,
.modal-footer {
    padding-left: 40px;
    padding-right: 40px;
}
.modal-content {
    border-radius: 0;
    color:  #4e4c49 ;
}

.form-control {
    display: block;
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding: 3px 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-check-label {
    padding-left: 1rem;
    margin-bottom: 0;
}
.form-check-input {
    position: absolute;
    margin-top: 0.25rem;
    margin-left: 0; 
}
.form-check-label {
    padding-left: 1em;
    margin-bottom: 0;
}

.number{
	font-weight: 300;
	font-family: 'Montserrat';
}
.form-group{     
	height: 3.4rem;
    margin-bottom: 30px;
}
.expand-cols .form-group{margin-bottom: 0;}